*{
    padding: 0;
    margin: 0;
}

body{
  background-image: url(img/pexels-muffin-creatives-4584612.jpg);
  background-size: contain;
  text-align: center;
  font-family: 'Gemunu Libre', sans-serif;
  letter-spacing: 7px;
  font-size: 2rem;
  text-shadow: black 0.1em 0.1em 0.2em;
}



h2{
    margin-top: 30px;
    margin-bottom: 60px;
    color: #8fe61d;
    font-size: 1.8rem;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*display*/

.display{
    background-color: #C0C0C0;
    position:absolute;
    top: 65px;
    height: 160px;
    width: 600px;
    border-radius: 10px;
    border: solid 5px black;
}



/*display*/
.container {
    background-color: rgb(48, 52, 94, 0.7);
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 600px;
}

h1{
    color: aliceblue;
    padding: 30PX;
}


/*el dibujo de la resistencia o lo mas parecido a una resistencia */
.resistencia{
    
    position: relative;
    width: 600px;
    height: 200px;
    
}


.palito {
    
    position: absolute;
    padding: auto;
    top: 90px;
    left: 25px;

    margin: 0;
    background-color: black;
    width: 550px;
    height: 20px;
    border-radius: 5px;
}

.bochita{
    position: absolute;
    top: 40px;
    left: 100px;

    background-color: #e6ba89;
    width: 100px;
    height: 120px;
    border-radius: 30px;
}

.bochita-r{
    position: absolute;
    top: 40px;
    right: 100px;

    background-color: #e6ba89;
    width: 100px;
    height: 120px;
    border-radius: 30px;
}

.cuerpo{
    position: absolute;
    top: 50px;
    left: 150px;
    background-color: #e6ba89;
    width: 300px;
    height: 100px;
    border-radius: 30px;
}
/*acá termina el dibujo de la resistencia  */

/* esto pertenece a las 4 bandas que tendrian que cambiar de color  */
.bandas{
    position: absolute;
    
    display: flex;
    justify-content: space-around;
    top: 50px;
    left: 180px;
    width: 250px;
    height: 100px;
}

.banda{
    font-size:1.5rem;
    color: #8fe61d;
    margin-right: 15px;
    background-color: white;
    width: 20px;
    height: 100px;
    border: none;
    
}

.banda:hover{
    background-color: white;
}

.banda-1{
    background-color: orange;

}
.banda-2{
    background-color: blue;
}
.banda-3{
    background-color: orange;
}
.banda-4{
   margin-left: 30px;
   background-color: #e3e4e5;
}


/*acá esta la parte del seleccionador del color */

.seleccionar-color{
    position:absolute;
    top: 450px;
    width: 600px;
    height: 100px;
    
}
.seleccionador{
    display: flexbox;
    flex-wrap: wrap;
    text-decoration: none;
    width: 105px;
    height: 30px;
   }



.negro{
    background-color: black;
    color: white;
}

.marron{
    background-color: rgb(94, 0, 0);
    color:white;
}
.rojo{
    background-color: red;
    color: white;
}
.naranja{
    background-color: orange;
    color: white;
}
.amarillo{
    background-color: yellow;
    color: black;
}
.verde{
    background-color: green;
    color: white;
}
.azul{
    background-color: blue;
    color: white;
}
.violeta{
    background-color: rgb(71, 30, 71);
    color: white;
}
.gris{
    background-color: gray;
    color: white;
}
.blanco{
    background-color: white;
    color: black;
}

.dorado{
    background-color: #ba8f0c;
    color: black;
}
.plata{
    background-color: #C0C0C0;
    color: black;
}



footer{
    text-align: center;
    background-color: #20221e;
    height: 200px;
    width: 100%;
    top: 20px;
}
